extends base-without-sidebar

block title
  title= page.title + ' | ' + config.title
block content  
  .search-form(style='text-align: center;')
    input#local-search-input(placeholder='搜索', type='search', name='q', results='0', autofocus='autofocus')   
    #local-search-result
