extends base-without-sidebar

block title
  title= page.title + ' | ' + config.title
block content
  h1(style="text-align: center;") 标签
  .tagcloud
    != tagcloud({min_font: 16, max_font: 26, amount: 100, orderby: 'count'})
